:root {
  --accent-color: #2196f3;
  --primary-text-color: #757575;
  --section-text-color: #212121;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --primary-heder-footer-color: #2f303a;
  --button-second-color: #188ce8;
  --button-galery-box: #f5f4fa;
  --border-color: #ececec;
  --border-second-color: #afb1b8;
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
}

body {
  color: var(--primary-text-color);
  font-family: var(--main-font), sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

/* ===ГЕОМЕТРИЯ РАЗМЕТКИ=== */

/* ===сброс настроек=== */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

/* ===снятие маркировки со всех списков=== */
.link-ul {
  list-style: none;
}

/* ===снятие декорации со всех ссылок=== */
.link-a-href {
  text-decoration: none;
}

/* ===курсор=== */
.button,
.button-galery {
  cursor: pointer;
}

/* ===КОНТЕЙНЕР div ОБЩИЙ=== */

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
}

/* РАСПОЛОЖЕНИЕ ХЕДЕРА */
.header-container,
.navigation,
.section-item,
.contact-info {
  display: flex;
  align-items: center;
}

/* ===навигация сайта=== */
.site-nav {
  color: var(--section-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .current {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav:hover,
.site-nav:focus {
  color: var(--accent-color);
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--border-color);
}

/* ===применения псевдоэлеменат */
.section-after {
  position: relative;
}

.current::after {
  content: ' ';
  display: block;
  background-color: var(--accent-color);
  width: 100%;
  height: 4px;
  border-radius: 2px;
  margin-top: 28px;
  position: absolute;
  bottom: -32px;
}

/* ===ссылки навигации черного-цвета - согласно ТЗ=== */
.site-nav {
  color: var(--section-text-color);
}

.mail-active,
.phone-active {
  color: var(--primary-text-color);
}

/* ===ХЕДЕР контактная информация=== */
.contact-link .mail-active,
.contact-phone .phone-active {
  font-weight: 500;
  letter-spacing: 0.02em;
}

.mail-active,
.phone-active {
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-active:hover,
.mail-active:focus,
.phone-active:hover,
.phone-active:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

/* ===ХЕДЕР контакты=== */
.section-list {
  margin-left: auto;
}

.contact-item:not(:last-child) {
  margin-right: 30px;
}
.section-nav:not(:last-child) {
  margin-right: 50px;
}

.contacts-icon {
  margin-right: 10px;
  color: var(--primary-text-color);
}

/* ===ГЕРОЙ=== */
.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--primary-heder-footer-color);
  flex-grow: 1;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero-img/img-hero.jpg');
  background-size: cover;
  max-width: 1600px;
}

.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

/* ===ГЕРОЙ-КНОПКИ=== */
.button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  text-decoration: none;
  cursor: pointer;
  width: 200px;
  border-radius: 4px;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  color: var(--primary-white-color);
  background-color: var(--button-second-color);
}

/* ===ЛОГОТИП=== */
.logo {
  color: var(--primary-black-color);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  margin-right: 93px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-footer {
  color: var(--primary-white-color);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-style {
  color: var(--accent-color);
}

.logo:hover,
.logo:focus,
.logo-footer:hover,
.logo-footer:focus {
  color: var(--accent-color);
}

/* ===СТИЛИ ЗАГОЛОВКОВ И ТЕСТОВ ВНУТРИ СЕКЦИЙ=== */

.section-headline {
  color: var(--section-text-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 10px;
}

.section-text {
  line-height: 1.71;
}

.section-title {
  color: var(--section-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* ===НАШИ ПРЕИМУЩЕСТВА */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* ===  ОФОРМЛЕНИЕ ЦВЕТОМ и ИКОНКОЙ  === */
.headline-flex {
  display: flex;
}

.section-li {
  margin-top: 30px;
  margin-left: 30px;
  display: block;
  justify-content: space-between;
}

.section-li {
  width: 270px;
  box-sizing: border-box;
}

.section-ul-headline {
  margin-top: -30px;
  margin-left: -30px;
}

.headline-div {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--button-galery-box);
  border: 1px solid var(--button-galery-box);
  border-radius: 4px;
  margin-bottom: 30px;
}

/* ====ФОТО РАБОТ=== */
.wort-item {
  margin-bottom: 50px;
}
.section-padding {
  padding-bottom: 94px;
}

.section-ul-photo {
  flex-wrap: wrap;
  justify-content: space-between;
}
.section-photo + .section-photo {
  margin-left: 30px;
}

.section-photo {
  position: relative;
}

.overlay-photo {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primary-white-color);
  text-align: center;
  width: 370px;
  height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  right: 0;
  bottom: 0;
}

/* ===КОМАНДА ВЕБСТУДИО=== */
.comand-item {
  margin-bottom: 50px;
}
.section-team {
  flex-wrap: wrap;
  margin-top: 30px;
  margin-left: 30px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section-ul-team {
  margin-top: -30px;
  margin-left: -30px;
}

.team-box {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.team-box-link {
  display: flex;
  justify-content: space-between;
}

/* ===секция про Команду WebStudio=== */
.comand-fon {
  background-color: var(--button-galery-box);
  margin-bottom: 0;
  padding-bottom: 94px;
}

.section-title-name {
  color: var(--section-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}

.section-text-name {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.contact-icon {
  color: var(--border-second-color);
}

.contacts-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-icon:hover,
.contact-icon:focus {
  fill: var(--primary-white-color);
  color: var(--primary-white-color);
  transition: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.contacts-link:hover,
.contacts-link:focus {
  background-color: var(--accent-color);
  fill: var(--primary-white-color);
}

/* === НАШИ ПАРТНЕРЫ=== */
.partner {
  margin-bottom: 0;
  padding-bottom: 94px;
}

.title-partner {
  color: var(--section-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.item-partner {
  display: flex;
  justify-content: space-between;
  margin-left: -30px;
}

.section-partner {
  margin-left: 30px;
}

.partnet-link {
  fill: var(--border-second-color);
  border: 1px solid var(--border-second-color);
  border-radius: 4px;
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.partnet-link:hover,
.partnet-link:focus {
  border-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  fill: var(--accent-color);
}

.link-icon {
  color: var(--border-second-color);
}

/* ===ФУТЕР=== */

.section-footer {
  margin-bottom: 9px;
}

/* ===футер=== */
.footer {
  background-color: var(--primary-heder-footer-color);
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-address {
  color: var(--primary-white-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-phone,
.footer-mail {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address,
.footer-phone,
.footer-mail {
  font-style: normal;
  text-decoration: none;
}

.footer-address:hover,
.footer-address:focus,
.footer-phone:hover,
.footer-phone:focus,
.footer-mail:hover,
.footer-mail:focus {
  color: var(--accent-color);
  text-decoration: none;
}

.footer-text {
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--primary-white-color);
}
.box {
  display: flex;
  align-items: baseline;
}

.box-one {
  margin-right: 70px;
}

.container-email {
  margin: 0 auto;
}

.container-join {
  margin-right: 93px;
}

.join-ul {
  display: flex;
}

.join-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--primary-white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-icon {
  color: var(--primary-white-color);
}

.join-title {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}

.join-title:not(:last-child) {
  margin-right: 10px;
}

.join-link:hover,
.join-link:focus {
  background-color: var(--accent-color);
  fill: var(--primary-white-color);
}

/* расстояние до кнопки */
.footer-text {
  margin-bottom: 20px;
}

.user-email {
  display: flex;
  align-items: center;
}

.user-email input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.mail-user {
  color: var(--primary-white-color);
  font-size: 16px;
  line-height: 1.25;
  height: 50px;
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.click {
  margin-left: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 28px;
  padding-left: 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border-color: transparent;
  border-radius: 4px;
  font-family: inherit;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.click:hover,
.click:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.mail-pic {
  fill: var(--primary-white-color);
  vertical-align: middle;
}

.user-email input {
  margin: 0;
  padding-left: 16px;
  padding-right: auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* ===НАВИГАЦИЯ ПОРТФОЛИО=== */
.section-photo-item {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-ul-portfolio {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.section-li-btn:not(:last-child) {
  margin-right: 8px;
}

/* ===ГАЛЕРЕЯ=== */
.galery-box {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid var(--border-color);
  border-top: none;
}

.section-ul-galery {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.section-li-galery {
  flex-wrap: wrap;
  margin-top: 30px;
  margin-left: 30px;
}

.galery-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.galery-link:hover,
.galery-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.galery-link:hover .overlay,
.galery-link:focus .overlay {
  transform: translateY(0%);
}

.galery-img-overlay {
  position: relative;
  overflow: hidden;
}

.overlay {
  font-size: 18px;
  line-height: 1.56;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--primary-white-color);
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;

  transform: translateY(101%);
  transition: transform 250ms linear;
}

/* ===галерея-текста-портфолио-страница === */
.section-title-galery {
  color: var(--section-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-bottom: 4px;
}

.section-text-galery {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

/* ===кнопки галерея-портфолио-страница=== */
.button-galery {
  color: var(--section-text-color);
  background-color: var(--button-galery-box);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  border-color: transparent;
  border-radius: 4px;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-galery:hover,
.button-galery:focus {
  color: var(--primary-white-color);
  background-color: var(--button-second-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms linear, visibility 250ms linear;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 528px;
  height: 581px;
  background: var(--primary-white-color);
  transform: translate(-50%, -50%);
  animation-name: changeModalBtn;
  animation-duration: 2000ms;
}

/* Анимация */
@keyframes changeModalBtn {
  25% {
    transform: scale(25%);
    transform: opacity(25%);
  }
  50% {
    transform: scale(50%);
    transform: opacity(50%);
  }
  75% {
    transform: scale(75%);
    transform: opacity(75%);
  }
  100% {
    transform: scale(100%);
    transform: opacity(100%);
  }
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* РАЗМЕТКА МОДАЛЬНОГО ОКНА */
.modal-form {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 41px;
  padding-right: 39px;
  display: flex;
  flex-direction: column;
}

.modal-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--section-text-color);
  margin-bottom: 10px;
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.form-label .form-message {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon-form {
  color: var(--section-text-color);
  position: absolute;
  display: block;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .modal-icon-form {
  fill: var(--accent-color);
}

.modal-relative {
  position: relative;
  display: block;
  margin-top: 4px;
}

.form-message {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-top: 12px;
  padding-left: 16px;
  resize: none;
}

.form-message::placeholder {
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-message:focus {
  border-color: var(--accent-color);
  outline: none;
}

.checkbox-label {
  line-height: 1.71;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.form-checkbox:checked + .checkbox-label::before {
  background-image: url('../images/sprite/icon-check.svg');
  background-color: var(--accent-color);
  border: none;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-origin: padding-box;
}

.form-checkbox:focus + .checkbox-label::before {
  border-color: var(--button-second-color);
  width: 16px;
  height: 15px;
}

.checkbox-label::before {
  content: ' ';
  display: block;
  width: 16px;
  height: 15px;
  border: 1px solid var(--section-text-color);
  margin-right: 7px;
}

.checkbox-link {
  color: var(--accent-color);
}

/* ----стиль кнопки---- */
.btn-send {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  cursor: pointer;
  width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-send:hover,
.btn-send:focus {
  background-color: var(--button-second-color);
}
