:root {
  --accent-color: #2196f3;
  --primary-text-color: #757575;
  --section-text-color: #212121;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --primary-heder-footer-color: #2f303a;
  --button-second-color: #188ce8;
  --button-galery-box: #f5f4fa;
  --border-color: #ececec;
  --border-second-color: #afb1b8;
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
}
